name: Jira Task Check
on: [push, pull_request, workflow_dispatch, workflow_call]
jobs:
  jira-check-task:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Run Script
        env:
          JIRA_USER_NAME: ${{ secrets.JIRA_USER_NAME }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
        uses: ./.github/actions/jira-check-action
